#logo{ 
	 position:fixed;
	 top: -30px; 
	 left:0;
      right: auto;
      background-color:white;
      padding-left: -20px;
      padding-right:-20px;
      margin: 25px;
      left: 2;
} 
body {
      font-family: "Goldman", cursive;
      text-align:center;
      background-image: url("pm.png");
      min-height: 100vh;
      width: 100vw;
      overflow:hidden;
} 
nav img {
      float:left;
      width: 30vw;
      position: relative;
      min-height: 29vh;
}  
ul li a:hover {
      background-color:lightgreen;
      color:00;
}
ul {
     float:right;
     list-style-type:none;
}
ul li {
     display: inline-block;
}
ul li a {
     text-decoration:none;
     color: black;
     padding: 5px 20px;
     border: 1px solid transparent black;
}
.active {
     background-color: #04AA6D;
}
.title {
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
     background-blend-mode:normal;
}
input {
     float:right;
     background-color:gray;
}
footer {  
     padding-left: 300px;
     padding-bottom : 200px;
}
